@model List<UsuarioViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <br />
        <a class="btn btn-secondary padding-cima-baixo" role="button" href="/Usuario/Novo/">Nova Usuário</a>
        <br />
        <br />
        <table class="table padding-cima-baixo datatable">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Login
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Nome
                        </td>
                        <td>
                            @item.Login
                        </td>
                        <td>
                            <a href=@("/Usuario/Editar/" + item.IdUsuario.ToString()) role="button" class="btn btn-success btn-sm">
                                <i class="glyphicon glyphicon-pencil"></i> Editar
                            </a>
                            <a href=@("/Usuario/Deletar/" + item.IdUsuario.ToString()) role="button" class="btn btn-danger btn-sm">
                                <i class="glyphicon glyphicon-pencil"></i> Deletar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>