@model List<ServidorViewModel>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-secondary" onclick="javascript:history.go(-1)">Voltar</button>
        <a class="btn btn-outline-secondary padding-cima-baixo" role="button" href="/Servidor/Novo/">Novo Servidor</a>
        <br />
        <br />
        <table class="table padding-cima-baixo datatable">
            <thead>
                <tr>
                    <th>
                        Hostname
                    </th>
                    <th>
                        Instância
                    </th>
                    <th>
                        Usuário
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Hostname
                        </td>
                        <td>
                            @item.Instancia
                        </td>
                        <td>
                            @item.Usuario
                        </td>
                        <td>
                            <a href=@("/Servidor/Usar/" + item.IdServidor.ToString()) role="button" class="btn btn-primary btn-sm">
                                <i class="glyphicon glyphicon-pencil"></i> Usar
                            </a>
                            <a href=@("/Servidor/Editar/" + item.IdServidor.ToString()) role="button" class="btn btn-success btn-sm">
                                <i class="glyphicon glyphicon-pencil"></i> Editar
                            </a>
                            <a href=@("/Servidor/Deletar/" + item.IdServidor.ToString()) role="button" class="btn btn-danger btn-sm">
                                <i class="glyphicon glyphicon-pencil"></i> Deletar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>