body {
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 10px;
}

.container-fluid {
    padding: 0px 15px 0px 15px;
}

.container-fluid .body-content {
    overflow-x: auto;
}

#modalLoading img {
    height: 200px;
    position: relative;
    margin-top: 50%;
}

#modalLoading {
    transition: opacity 0.15s linear;
}

.icon-with-space {
    padding-right: 5px;
    margin-right: 5px;
}