-- =============================================
-- Author:		Bruno Oliveira
-- Create date: xx/xx/xxxx
-- Description:	Retorna dados das tabelas de uma database.
-- =============================================
CREATE PROCEDURE [dbo].[PRC_SEL_DADOS_TABELA]
	@TABLE NVARCHAR(200),
	@SCHEMA NVARCHAR(100),
	@CATALOG NVARCHAR(100)
AS
BEGIN
	DECLARE @CMD NVARCHAR(MAX)

	IF(@TABLE IS NULL OR LEN(@TABLE) = 0)
	BEGIN
		RAISERROR ('É NECESSÁRIO INFORMAR UMA TABELA', 16, 1);
		RETURN
	END

	IF(@SCHEMA IS NULL OR LEN(@SCHEMA) = 0)
		SET @SCHEMA = N'DBO'

	IF(@CATALOG IS NULL OR LEN(@CATALOG) = 0)
		SET @CMD = ''
	ELSE
		SET @CMD = ' USE ' + @CATALOG + ';'

	SET @CMD += '
	SELECT COL.COLUMN_NAME, COL.ORDINAL_POSITION, COL.COLUMN_DEFAULT,
		COL.IS_NULLABLE, COL.DATA_TYPE, COL.CHARACTER_MAXIMUM_LENGTH,
		COL.NUMERIC_PRECISION, COL.NUMERIC_PRECISION_RADIX,
		FKEY.TABELA_REFERENCIADA, FKEY.COLUNA_REFERENCIADA,
		CASE WHEN FKEY.COLUNA_REFERENCIADA IS NULL THEN 0 ELSE 1 END AS IS_FK,
		CASE WHEN PKEY.COLUMN_NAME IS NULL THEN 0 ELSE 1 END AS IS_PK,
		OBJECTPROPERTY(OBJECT_ID(TAB.TABLE_NAME), ''TableHasIdentity'') AS IS_IDENTITY
	FROM INFORMATION_SCHEMA.COLUMNS COL WITH(NOLOCK)
		INNER JOIN INFORMATION_SCHEMA.TABLES TAB ON COL.TABLE_NAME = TAB.TABLE_NAME
		LEFT JOIN
		(
			SELECT TAB2.NAME AS TABELA_REFERENCIADA,
				COL2.NAME AS COLUNA_REFERENCIADA,
				COL.NAME AS COLUNA,
				TAB.NAME AS TABELA
			FROM SYS.FOREIGN_KEY_COLUMNS FKC WITH(NOLOCK)
				INNER JOIN SYS.TABLES TAB WITH(NOLOCK) ON FKC.PARENT_OBJECT_ID = TAB.OBJECT_ID
				INNER JOIN SYS.TABLES TAB2 WITH(NOLOCK) ON FKC.REFERENCED_OBJECT_ID = TAB2.OBJECT_ID
				INNER JOIN SYS.COLUMNS COL WITH(NOLOCK) ON FKC.PARENT_OBJECT_ID = COL.OBJECT_ID
					AND FKC.PARENT_COLUMN_ID = COL.COLUMN_ID
				INNER JOIN SYS.COLUMNS COL2 WITH(NOLOCK) ON FKC.REFERENCED_OBJECT_ID = COL2.OBJECT_ID
					AND FKC.REFERENCED_COLUMN_ID = COL2.COLUMN_ID
		) FKEY ON COL.TABLE_NAME = FKEY.TABELA AND COL.COLUMN_NAME = FKEY.COLUNA
		LEFT JOIN
		(
			SELECT CCU.COLUMN_NAME, TC.TABLE_NAME
			FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS TC WITH(NOLOCK)
				INNER JOIN INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE CCU WITH(NOLOCK) ON
					TC.CONSTRAINT_NAME = CCU.CONSTRAINT_NAME AND TC.TABLE_CATALOG = CCU.TABLE_CATALOG
					AND TC.TABLE_SCHEMA = CCU.TABLE_SCHEMA AND TC.TABLE_NAME = CCU.TABLE_NAME
			WHERE TC.CONSTRAINT_TYPE = ''PRIMARY KEY''
		) PKEY ON COL.TABLE_NAME = PKEY.TABLE_NAME AND COL.COLUMN_NAME = PKEY.COLUMN_NAME
	WHERE COL.TABLE_NAME = @TABLE AND TAB.TABLE_SCHEMA = @SCHEMA
	ORDER BY COL.ORDINAL_POSITION ASC'

	EXEC SYS.SP_EXECUTESQL @CMD, N'@TABLE NVARCHAR(200), @SCHEMA NVARCHAR(100), @CATALOG NVARCHAR(100)', @TABLE, @SCHEMA, @CATALOG;
END
