-- =============================================
-- Author:		Bruno Oliveira
-- Create date: 10/04/2018
-- Description:	Insere e atualiza colunas visiveis.
-- =============================================
CREATE PROCEDURE [dbo].[PRC_IU_CONFIGURACAO_TABELA_COLUNA]
	@I_ID_CONFIGURACAO_TABELA_COLUNA	BIGINT,
	@I_ID_CONFIGURACAO_TABELA			INT,
	@I_COLUNA							VARCHAR(120),
	@I_VISIVEL							BIT,
	@I_COLUNA_EXIBICAO					VARCHAR(120),
	@I_FILTRO							BIT
AS
BEGIN
	SET NOCOUNT ON;

    IF EXISTS (SELECT TOP(1) ID_CONFIGURACAO_TABELA FROM CONFIGURACAO_TABELA WITH(NOLOCK) WHERE ID_CONFIGURACAO_TABELA = @I_ID_CONFIGURACAO_TABELA)
	BEGIN

		IF EXISTS (SELECT TOP(1) * FROM CONFIGURACAO_TABELA_COLUNA WITH(NOLOCK) WHERE ID_CONFIGURACAO_TABELA_COLUNA = @I_ID_CONFIGURACAO_TABELA_COLUNA)
		BEGIN

		UPDATE CONFIGURACAO_TABELA_COLUNA
		SET VISIVEL = @I_VISIVEL,
			COLUNA_EXIBICAO = UPPER(@I_COLUNA_EXIBICAO),
			FILTRO = @I_FILTRO
		WHERE ID_CONFIGURACAO_TABELA_COLUNA = @I_ID_CONFIGURACAO_TABELA_COLUNA;
			

		END
		ELSE
		BEGIN

			INSERT INTO CONFIGURACAO_TABELA_COLUNA (ID_CONFIGURACAO_TABELA, COLUNA, VISIVEL, COLUNA_EXIBICAO, FILTRO)
			VALUES (@I_ID_CONFIGURACAO_TABELA, UPPER(@I_COLUNA), @I_VISIVEL, UPPER(@I_COLUNA_EXIBICAO), @I_FILTRO);

		END
	END

	SET NOCOUNT OFF;
END
