USE [CAD_DINAMICO]
GO
/****** Object:  StoredProcedure [dbo].[PRC_SEL_ID_CONFIGURACAO_TABELA]    Script Date: 10/28/2018 6:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bruno Oliveira
-- Create date: 10/04/2018
-- Description:	Busca um registro de configuração das tabelas para determinada tabela
-- =============================================
CREATE PROCEDURE [dbo].[PRC_SEL_ID_CONFIGURACAO_TABELA_COLUNA]
	@I_BANCO_DADOS				VARCHAR(120),
	@I_ESQUEMA					VARCHAR(120),
	@I_TABELA					VARCHAR(120),
	@I_COLUNA					VARCHAR(120)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT CTC.ID_CONFIGURACAO_TABELA_COLUNA
	FROM CONFIGURACAO_TABELA_COLUNA CTC WITH(NOLOCK)
	INNER JOIN CONFIGURACAO_TABELA CT WITH(NOLOCK) ON CTC.ID_CONFIGURACAO_TABELA = CT.ID_CONFIGURACAO_TABELA
	INNER JOIN BANCO_DADOS BD WITH(NOLOCK) ON CT.ID_BANCO_DADOS = BD.ID_BANCO_DADOS
	INNER JOIN ESQUEMA ES WITH(NOLOCK) ON CT.ID_ESQUEMA = ES.ID_ESQUEMA
	INNER JOIN TABELA TB WITH(NOLOCK) ON CT.ID_TABELA = TB.ID_TABELA
	WHERE BD.NOME = @I_BANCO_DADOS AND ES.NOME = @I_ESQUEMA AND TB.NOME = @I_TABELA AND CTC.COLUNA = @I_COLUNA;

	SET NOCOUNT OFF;
END
