-- =============================================
-- Author:		Bruno Oliveira
-- Create date: 10/04/2018
-- Description:	Insere e atualiza valores de configuração das tabelas
-- =============================================
CREATE PROCEDURE [dbo].[PRC_IU_CONFIGURACAO_TABELA]
	@I_ID_CONFIGURACAO_TABELA	INT,
	@I_BANCO_DADOS				NVARCHAR(120),
	@I_ESQUEMA					NVARCHAR(120),
	@I_TABELA					NVARCHAR(120),
	@I_JSON_COLUNAS_VISIVEIS	NVARCHAR(MAX),
	@I_JSON_COLUNAS_CHAVE		NVARCHAR(MAX)
AS
BEGIN
	SET NOCOUNT ON;

    IF EXISTS (SELECT TOP(1) ID_CONFIGURACAO_TABELA FROM CONFIGURACAO_TABELA WITH(NOLOCK) WHERE ID_CONFIGURACAO_TABELA = @I_ID_CONFIGURACAO_TABELA)
	BEGIN

		UPDATE CONFIGURACAO_TABELA
		SET BANCO_DADOS = UPPER(@I_BANCO_DADOS),
			ESQUEMA = UPPER(@I_ESQUEMA),
			TABELA = UPPER(@I_TABELA),
			JSON_COLUNAS_CHAVE = @I_JSON_COLUNAS_CHAVE,
			JSON_COLUNAS_VISIVEIS = @I_JSON_COLUNAS_VISIVEIS
		WHERE ID_CONFIGURACAO_TABELA = @I_ID_CONFIGURACAO_TABELA

	END
	ELSE
	BEGIN

		INSERT INTO CONFIGURACAO_TABELA (BANCO_DADOS, ESQUEMA, TABELA, JSON_COLUNAS_CHAVE, JSON_COLUNAS_VISIVEIS)
		VALUES (UPPER(@I_BANCO_DADOS), UPPER(@I_ESQUEMA), UPPER(@I_TABELA), @I_JSON_COLUNAS_CHAVE, @I_JSON_COLUNAS_VISIVEIS)

	END

	SET NOCOUNT OFF;
END
