USE [CAD_DINAMICO]
GO
/****** Object:  StoredProcedure [dbo].[PRC_SEL_CONFIGURACAO_TABELA]    Script Date: 10/28/2018 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bruno Oliveira
-- Create date: 10/04/2018
-- Description:	Busca valores de configuração das tabelas
-- =============================================
CREATE PROCEDURE [dbo].[PRC_SEL_CONFIGURACAO_TABELA]
	@I_ID_CONFIGURACAO_TABELA	INT
AS
BEGIN
	SET NOCOUNT ON;

	SELECT ID_CONFIGURACAO_TABELA, BANCO_DADOS, ESQUEMA, TABELA, JSON_COLUNAS_VISIVEIS, JSON_COLUNAS_CHAVE,
		JSON_COLUNAS_FILTRO
	FROM CONFIGURACAO_TABELA WITH(NOLOCK)
	WHERE ID_CONFIGURACAO_TABELA = @I_ID_CONFIGURACAO_TABELA

	SET NOCOUNT OFF;
END
