USE [CAD_DINAMICO]
GO
/****** Object:  StoredProcedure [dbo].[PRC_IU_CONFIGURACAO_TABELA]    Script Date: 10/28/2018 6:27:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bruno Oliveira
-- Create date: 10/04/2018
-- Description:	Insere e atualiza valores de configuração das tabelas
-- =============================================
CREATE PROCEDURE [dbo].[PRC_IU_CONFIGURACAO_TABELA]
	@I_ID_CONFIGURACAO_TABELA	INT,
	@I_BANCO_DADOS				VARCHAR(120),
	@I_ESQUEMA					VARCHAR(120),
	@I_TABELA					VARCHAR(120)--,
	--@I_JSON_COLUNAS_VISIVEIS	NVARCHAR(MAX),
	--@I_JSON_COLUNAS_CHAVE		NVARCHAR(MAX),
	--@I_JSON_COLUNAS_FILTRO		NVARCHAR(MAX)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @ID_TABELA INT = 0,
			@ID_ESQUEMA INT = 0,
			@ID_BANCO_DADOS INT = 0;

	/* INSERCAO DE BANCO_DADOS */
	SELECT @ID_BANCO_DADOS = ID_BANCO_DADOS
	FROM BANCO_DADOS WITH(NOLOCK)
	WHERE NOME = @I_BANCO_DADOS;

	IF (COALESCE(@ID_BANCO_DADOS, 0) = 0)
	BEGIN

		INSERT INTO BANCO_DADOS (NOME)
		VALUES (UPPER(@I_BANCO_DADOS));

		SELECT @ID_BANCO_DADOS = ID_BANCO_DADOS
		FROM BANCO_DADOS WITH(NOLOCK)
		WHERE NOME = @I_BANCO_DADOS;

	END

	/* INSERCAO DE ESQUEMA */
	SELECT @ID_ESQUEMA = ID_ESQUEMA
	FROM ESQUEMA WITH(NOLOCK)
	WHERE NOME = @I_ESQUEMA;

	IF (COALESCE(@ID_ESQUEMA, 0) = 0)
	BEGIN

		INSERT INTO ESQUEMA (NOME)
		VALUES (UPPER(@I_ESQUEMA));

		SELECT @ID_ESQUEMA = ID_ESQUEMA
		FROM ESQUEMA WITH(NOLOCK)
		WHERE NOME = @I_ESQUEMA;

	END

	/* INSERCAO DE TABELA */
	SELECT @ID_TABELA = ID_TABELA
	FROM TABELA WITH(NOLOCK)
	WHERE NOME = @I_TABELA;

	IF (COALESCE(@ID_TABELA, 0) = 0)
	BEGIN

		INSERT INTO TABELA (NOME)
		VALUES (UPPER(@I_TABELA));

		SELECT @ID_TABELA = ID_TABELA
		FROM TABELA WITH(NOLOCK)
		WHERE NOME = @I_TABELA;

	END

    IF EXISTS (SELECT TOP(1) ID_CONFIGURACAO_TABELA FROM CONFIGURACAO_TABELA WITH(NOLOCK) WHERE ID_CONFIGURACAO_TABELA = @I_ID_CONFIGURACAO_TABELA)
	BEGIN

		UPDATE CONFIGURACAO_TABELA
		SET ID_BANCO_DADOS = @ID_BANCO_DADOS,
			ID_ESQUEMA = @ID_ESQUEMA,
			ID_TABELA = @ID_TABELA--,
			--JSON_COLUNAS_CHAVE = @I_JSON_COLUNAS_CHAVE,
			--JSON_COLUNAS_VISIVEIS = @I_JSON_COLUNAS_VISIVEIS,
			--JSON_COLUNAS_FILTRO = @I_JSON_COLUNAS_FILTRO
		WHERE ID_CONFIGURACAO_TABELA = @I_ID_CONFIGURACAO_TABELA;

	END
	ELSE
	BEGIN

		INSERT INTO CONFIGURACAO_TABELA (ID_BANCO_DADOS, ID_ESQUEMA, ID_TABELA/*, JSON_COLUNAS_CHAVE, JSON_COLUNAS_VISIVEIS,
			JSON_COLUNAS_FILTRO*/)
		VALUES (@ID_BANCO_DADOS, @ID_ESQUEMA, @ID_TABELA/*, @I_JSON_COLUNAS_CHAVE, @I_JSON_COLUNAS_VISIVEIS, @I_JSON_COLUNAS_FILTRO*/);

	END

	SET NOCOUNT OFF;
END
