<h2>@ViewBag.Title</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Banco de Dados</label>
                <select id="selDatabases" class="custom-select"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Schema</label>
                <select id="selSchemas" class="custom-select"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Tabela</label>
                <select id="selTabelas" class="custom-select"></select>
            </div>
        </div>
    </div>

    <hr />
</div>