@section StyleSheets {
    <style>
        h2 {
            padding-bottom: 10px;
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Banco de Dados</label>
                <select id="selDatabases" class="custom-select"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Schema</label>
                <select id="selSchemas" class="custom-select"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Tabela</label>
                <select id="selTabelas" class="custom-select"></select>
            </div>
        </div>
    </div>

    <hr />

    <div id="container-colunas">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-lg-5" id="divColunas">
                <h2>Colunas</h2>
                <div class="table-responsive">
                    <table id="tblColunas" class="table table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Exibir
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-5 col-sm-12 col-lg-5" id="divColunasFiltro">
                <h2>Filtros</h2>
                <div class="table-responsive">
                    <table id="tblColunasFiltro" class="table table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Usar filtro?
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12" id="divFk">
                <h2>Chaves Estrangeiras</h2>
                <div class="table-responsive">
                    <table id="tblChavesEstrangeiras" class="table table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Coluna
                                </th>
                                <th>
                                    Tabela Referenciada
                                </th>
                                <th>
                                    Coluna Referenciada
                                </th>
                                <th style="width: 200px;">
                                    Descrição da tabela
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn-block btn-success btn-block btn-lg" onclick="gravar()">Gravar</button>
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript" src="~/lib/jquery-blockUI/jquery.blockUI.min.js"></script>
    <environment include="Development">
        <script type="text/javascript" src="~/js/cadDinamicoIndex.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/cadDinamicoIndex.min.js"></script>
    </environment>
}