@section StyleSheets {
    <style>
        h2 {
            padding-bottom: 10px;
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Banco de Dados</label>
                <select id="selDatabases" class="custom-select"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Schema</label>
                <select id="selSchemas" class="custom-select"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Tabela</label>
                <select id="selTabelas" class="custom-select"></select>
            </div>
        </div>
    </div>

    <hr />

    <div id="container-colunas">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-lg-4" id="divColunas">
                <h2>Colunas</h2>
                <table id="tblColunas" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>
                                Nome
                            </th>
                            <th>
                                Exibir
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="col-md-8 col-sm-12 col-lg-8" id="divFk">
                <h2>Chaves Estrangeiras</h2>
                <table id="tblChavesEstrangeiras" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>
                                Coluna
                            </th>
                            <th>
                                Tabela Referenciada
                            </th>
                            <th>
                                Coluna Referenciada
                            </th>
                            <th>
                                Descrição da tabela
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn-block btn-success btn-block btn-lg" onclick="gravar()">Gravar</button>
        </div>
    </div>

</div>

@section Scripts{
    <environment include="Development">
        <script type="text/javascript" src="~/js/cadDinamicoIndex.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/cadDinamicoIndex.min.js"></script>
    </environment>
}